body {
	margin: 0;
	background-color: #333;
	font-size: 20px;
	color: #fff;
}
.block {
	border: 4px solid #000;
	display: flex;
}
.block__item {
	flex: 0 0 50%;
	border: 4px solid green;
	height: 80px;
}

.section {
	border: 10px solid #fff;
	padding: 50px;
}
.section__item {
	border: 3px solid pink;
}
