@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@include font("BebasNeue", "BebasNeueRegular", "400", "normal");
@include font("Lato", "LatoBold", "700", "normal");
@include font("Lato", "LatoRegular", "400", "normal");
@include font("SFUIDisplay", "SFUIDisplayRegular", "400", "normal");
